<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolidTecnlogia ~ Pauta do dia Online</title>
    <link rel="stylesheet" href="/css/inicial.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <style>
        .alert {
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            color: #fff;
            text-align: center;
        }
        .alert-success {
            background-color: #4CAF50; /* Green */
        }
    </style>
</head>
<body>
    <main class="container">
        <header class="header">
            <div class="menu">
                <a href="javascript:void(0)" onclick="window.location.assign('/consulta')">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </header>
        
        <div class="box">
            <section class="project">
                <div class="box-project">
                    <img src="./../images/logo.png" alt />
                    <p class="title">Editar Pauta Pausados</p>

                    <!-- Exibir mensagem de sucesso, se houver -->
                    <% if (successMessage) { %>
                        <div class="alert alert-success">
                            <%= successMessage %>
                        </div>
                    <% } %>

                    <form action="/edit/<%= pauta.id %>" method="post" id="formActive">
                        <input type="hidden" name="id" value="<%= pauta.id %>">
                        <label for="chamado">Chamado:</label>
                        <input type="text" id="chamado" name="chamado" value="<%= pauta.chamado %>" required>
                        <label for="Comentario">Comentário:</label>
                        <textarea name="comentario" id="comentario"><%= pauta.comentario %></textarea>
                        <p>--- Status ---</p>
                        <div class="pauta-chekout">
                            <fieldset>
                                <input type="text" id="status" name="status" value="<%= pauta.status %>" required>
                            </fieldset>
                        </div>
                        <label for="data">Data:</label>
                        <input type="date" id="data" name="data" value="<%= new Date(pauta.data).toISOString().split('T')[0] %>" required>
                        <button type="submit" class="btn">Salvar</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
    <script src="/js/inicial.js"></script>
</body>
</html>
